.header {height: 70px;
    width: 800px;
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
border: 1px solid black;
}
h1 {font-size: 20px;
vertical-align: top;}
.close {height:20px;
width: 20px;
}
.section {height: 600px;
    width: 800px;
     background-color: darkslategray;
     border: 1px solid black;}
.initial {border: 1px solid black;
    margin-left: 30px;
    width: 20px;
    border-radius: 100%;
    padding: 15px;
background-color: lightslategray;}
